.navbar {
  display: flex;
  justify-content: space-between;
  height: 13vh;
  align-items: center;
  padding: 0px 80px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: #1b1b1d;
  color: white;
}

.navbar__header {
  font-size: 20px;
  font-weight: 700;
}

.navbar__user__data {
  display: flex;
  align-items: center;
}

.user {
  cursor: pointer;
  border: 2px solid rgb(0, 255, 234);
}

.signedIn {
  font-size: 15px;
  padding-left: 10px;
  cursor: pointer;
}

.logout__button {
  margin-left: 20px;
  padding: 12px 25px;
  border-radius: 50px;
  border: none;
  background: rgb(39, 39, 39);
  font-family: "Inter";
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.notSignedIn {
  font-size: 15px;
}

.blog__search {
  flex: 1;
  width: 100%;
  display: flex;
  padding: 10px 0px;
  margin: 0px 70px;
  justify-content: space-between;
  background: rgb(39, 39, 39);
  border-radius: 5px;
}

.search {
  width: 80%;
  padding: 5px 30px;
  padding-left: 30px;
  background: none;
  font-family: "Inter";
  border: none;
  outline: none;
  font-size: 15px;
  color: white;
}

.submit {
  width: 18%;
  font-family: "Inter";
  background: none;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  padding: 12px 0px;
  border-radius: 5px;
  transition: 0.1s ease-in-out;
  background: rgb(31, 31, 31);
  outline: none;
}

.submit:hover {
}
